#bill {
    border-radius: 5px;
    border-color:saddlebrown;
    border-width: 5px;
    border-style: double;
    background-color: navajowhite;
    font-weight: bolder;
    font-size: larger;
}

p {
   font-size: larger; 
   font-weight: bolder;
   text-decoration: underline;

}

button{
    font-size:medium;
    background-color:rgb(255, 240, 181);
    font-weight: bold;
    border-radius:10px;color:rgb(204, 133, 41);
    border-color:rgb(204, 133, 41);
    width:10%;
}